<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Mengine.Plugin.OneSignal">

    <application>
        <meta-data android:name="mengine.onesignal.app_id" android:value="@string/mengine_onesignal_app_id" />

        <meta-data android:name="com.onesignal.NotificationServiceExtension"
            android:value="org.Mengine.Plugin.OneSignal.MengineOneSignalNotificationServiceExtension" />
    </application>
</manifest>
