<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application>
        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.adjust.sdk.AdjustPreinstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.attribution.SYSTEM_INSTALLER_REFERRER" />
            </intent-filter>
        </receiver>

        <activity-alias
            android:name="org.Mengine.Base.MengineAdjustPlugin.DeepLinkAlias"
            android:targetActivity="org.Mengine.Base.MengineActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="@string/mengine_adjust_deeplink_host_http"
                    /> <!--insights.go.link-->
                <data
                    android:scheme="https"
                    android:host="@string/mengine_adjust_deeplink_host_https"
                    /> <!--insights.go.link-->
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
