dist: trusty
sudo: required 

language: cpp

os:
    - osx    

compiler:
    - clang
    
env:
    - BUILD_CONFIGURATION=Debug
    - BUILD_CONFIGURATION=Release
        
script:
    # dependencies
    - mkdir -p build_temp/downloads
    - pushd build_temp/downloads
    - cmake "$PWD/../../CMake/Downloads" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DMENGINE_DOWNLOADS_SILENT=ON
    - cmake --build .
    - popd
    
    - mkdir -p build_temp/build_xcode_ios_sdl/$BUILD_CONFIGURATION
    - pushd build_temp/build_xcode_ios_sdl/$BUILD_CONFIGURATION
    - cmake -G"Xcode" "$PWD/../../../CMake/Depends_Xcode_IOS_SDL" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DCMAKE_CONFIGURATION_TYPES:STRING=$BUILD_CONFIGURATION -DMENGINE_DEPENDENCE_CURL=OFF -DCMAKE_TOOLCHAIN_FILE="$PWD/../../../dependencies/ios-cmake/ios.toolchain.cmake" -DIOS_PLATFORM=OS64 -DENABLE_BITCODE=FALSE
    - cmake --build . -- -quiet
    - popd
    
    - mkdir -p solutions/solution_xcode_sdl/$BUILD_CONFIGURATION
    - pushd solutions/solution_xcode_sdl/$BUILD_CONFIGURATION
    - cmake -G"Xcode" "$PWD/../../../CMake/Xcode_IOS_SDL" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DCMAKE_CONFIGURATION_TYPES:STRING=$BUILD_CONFIGURATION -DMENGINE_BUILD_ONLY_EXECUTABLE_MODULE=ON -DMENGINE_PLUGIN_CURL_FORCE_DISABLE=ON -DMENGINE_LIB_DIR:STRING="build_xcode_ios_sdl/\"$CONFIGURATION\"" -DCMAKE_TOOLCHAIN_FILE="$PWD/../../../dependencies/ios-cmake/ios.toolchain.cmake" -DIOS_PLATFORM=OS64 -DENABLE_BITCODE=TRUE
    - cmake --build . -- -quiet
    - popd
  
