dist: trusty
sudo: required

language: cpp

os:
    - osx
    
osx_image:
    - xcode12.2

compiler:
    - clang
    
env:
    - BUILD_CONFIGURATION=Debug
    - BUILD_CONFIGURATION=Release
        
script:
    - mkdir -p solutions/downloads
    - pushd solutions/downloads
    - cmake "$PWD/../../cmake/Downloads" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DMENGINE_DOWNLOADS_SILENT=ON
    - cmake --build . -j 8
    - popd
    
    - mkdir -p solutions/dependencies_xcode_ios_sdl/$BUILD_CONFIGURATION
    - pushd solutions/dependencies_xcode_ios_sdl/$BUILD_CONFIGURATION
    - cmake -G "Xcode" -S "$PWD/../../../cmake/Depends_Xcode_IOS_SDL" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DMENGINE_BUILD_ONLY_EXECUTABLE_MODULE=ON -DMENGINE_DEPENDENCE_CURL=OFF
    - cmake --build . -j 8 --config $BUILD_CONFIGURATION
    - popd
    
    - mkdir -p solutions/solution_xcode_ios_sdl/$BUILD_CONFIGURATION
    - pushd solutions/solution_xcode_ios_sdl/$BUILD_CONFIGURATION
    - cmake -G "Xcode" -S "$PWD/../../../cmake/Xcode_IOS_SDL" -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DMENGINE_BUILD_ONLY_EXECUTABLE_MODULE=ON -DMENGINE_PLUGIN_CURL_FORCE_DISABLE=ON
    - cmake --build . -j 8 --config $BUILD_CONFIGURATION
    - popd
  
