<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="mengine.leanplum.app_id" android:value="@string/mengine_leanplum_app_id" />
        <meta-data android:name="mengine.leanplum.dev_key" android:value="@string/mengine_leanplum_dev_key" />
        <meta-data android:name="mengine.leanplum.prod_key" android:value="@string/mengine_leanplum_prod_key" />
        <meta-data android:name="mengine.leanplum.environment" android:value="@string/mengine_leanplum_environment" />

        <receiver
            android:name="com.leanplum.LeanplumPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.leanplum.LeanplumPushFirebaseMessagingService" />
            </intent-filter>
        </receiver>

        <service android:name="com.leanplum.LeanplumLocalPushListenerService" />
        <service android:name="com.leanplum.LeanplumPushRegistrationService" />

        <service
            android:name="com.leanplum.LeanplumPushFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
