<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Mengine.Plugin.LocalNotifications">

    <application>
        <receiver android:name="org.Mengine.Plugin.LocalNotifications.NotificationPublisher" />

        <service
            android:name="org.Mengine.Plugin.LocalNotifications.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
