<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <receiver android:name="org.Mengine.Plugin.LocalNotifications.MengineLocalNotificationPublisher" />

        <service
            android:name="org.Mengine.Plugin.LocalNotifications.MengineLocalNotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
