<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="mengine.datadog.site" android:value="@string/mengine_datadog_site" />
        <meta-data android:name="mengine.datadog.client_token" android:value="@string/mengine_datadog_client_token" />
    </application>
</manifest>
