<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" />
    </queries>

    <application>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/mengine_facebook_app_id" />
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/mengine_facebook_client_token" />
        <meta-data android:name='com.facebook.sdk.AutoLogAppEventsEnabled' android:value='false' />
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled" android:value="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/mengine_facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/mengine_facebook_content_provider_id"
            android:exported="true">
        </provider>
    </application>
</manifest>
