version: 2.1

orbs:
  android: circleci/android@1.0.3

jobs:
  build:
    executor:
      name: android/android
      sdk-version: '29'
      
    steps:
      - checkout
      
      - android/accept-licenses
      
      - android/install-ndk:
          ndk-sha: 82274313aba10da6177fd41868f56a0f9651dd81
          ndk-version: android-ndk-r22
          
      - run:
          name: install cmake
          command: |
            sudo apt-get update
            sudo apt-get install cmake
            sudo apt-get upgrade
            
      - run:
          name: install gradle
          command: |
            sudo apt-get install gradle

      - run:
          name: install ninja-build
          command: |
            sudo apt-get install ninja-build
            
      - run:
          name: sdkmanager cmake
          command: |
            yes | sdkmanager "cmake;3.10.2.4988404"
          shell: /bin/bash -e
          
      - run:
          name: download dependencies
          command: |
            pushd build/downloads
            sudo bash downloads_unix.bash
            popd
            
      - run:
          name: build dependencies
          command: |
            pushd build/unix_android_sdl
            sudo bash build_depends_android_sdl.bash Debug
            popd
            
      - run:
          name: assemble
          no_output_timeout: 20m
          command: |
            sudo chown -R circleci:circleci /home/circleci/project
            pushd gradle
            sudo chmod +x gradlew
            ./gradlew assembleDebug -PANDROID_APP_ENABLE_UNITYADS=0 -PANDROID_APP_ENABLE_DEVTODEV=0 -PANDROID_APP_ENABLE_FACEBOOK=0 -PANDROID_APP_ENABLE_FIREBASE_CRASHLYTICS=0 -PANDROID_APP_ENABLE_GOOGLE_SERVICE=0 -PANDROID_APP_ENABLE_SENTRY=0 -PANDROID_APP_UPLOAD_CRASHLYTICS=0 -PASSETS_JAVA_NO_SRC_DIR -PMANIFEST_SRC_FILE="AndroidManifestCI.xml" --stacktrace
            popd
