<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="mengine.amplitude.api_key" android:value="@string/mengine_amplitude_api_key" />

    </application>
</manifest>
