<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.Mengine.Build"
    android:installLocation="preferExternal">

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000"/>

    <!-- Touchscreen support -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" /> <!--used for http requests-->
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!--used for http requests (downloading files)-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/><!--used for Proxy detection, could be disabled-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- Allow writing to external storage -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:label="${app_name_gradle}"
        android:name="org.Mengine.Build.MengineApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:replace="android:label"
        android:fullBackupContent="@xml/backup_descriptor"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/admob_app_id"/>
        
        <!-- Firebase -->
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true"/>
        <!-- Firebase -->
        
        <!-- Google Analytics -->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false"/>
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false"/>
        <!-- Google Analytics -->
        


        <activity
            android:name="MengineActivity"
            android:label="${app_name_gradle}"
            android:theme="@style/AppTheme"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:keepScreenOn="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="${app_screen_orientation}">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
