# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[S3E]
SysGlesVersion=1
SysGlesDirectory=pvr
SoundStereo=1
DispFixRot=Landscape
MemSize=250000000
#MemSize=75000000
#SysStackSize=35000000 # TODO: fix, should be ~500K

IOSDispScaleFactor=200

WinWidth=1024
WinHeight=768

[GL]
AllowNoDepthBufferClear=1
PreCompileShaderBinaries=0

[Trace]
MENGINE = 1
#SOUND=1
#GL=1
#GL_VERBOSE=1
#IW_GL_VERBOSE=1

[Util]
MemMgrMaxAllocWarning=0

[MENGINE]
#CommandLine = -dev -nopause
