<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="mengine.sentry.dsn" android:value="@string/mengine_sentry_dsn" />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/>
    </application>
</manifest>
