<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data android:name="mengine.applovin.appopen.placement" android:value="@string/mengine_applovin_appopen_placement" />
        <meta-data android:name="mengine.applovin.appopen.adunitid" android:value="@string/mengine_applovin_appopen_adunitid" />
    </application>
</manifest>
