<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="true" />
    </application>
</manifest>
