<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application>
        <meta-data android:name="mengine.applovin.CCPA" android:value="@string/mengine_applovin_CCPA" />
        <meta-data android:name="mengine.applovin.enable_privacy_policy_flow" android:value="@bool/mengine_applovin_enable_privacy_policy_flow" />
        <meta-data android:name="mengine.applovin.sdk_key" android:value="@string/mengine_applovin_sdk_key" />
        <meta-data android:name="mengine.applovin.privacy_policy_url" android:value="@string/privacy_policy_url" />
        <meta-data android:name="mengine.applovin.terms_of_service_url" android:value="@string/terms_of_service_url" />

        <meta-data android:name="mengine.applovin.banner.adaptive" android:value="@bool/mengine_applovin_banner_adaptive" />
        <meta-data android:name="mengine.applovin.banner.placement" android:value="@string/mengine_applovin_banner_placement" />
        <meta-data android:name="mengine.applovin.banner.adunitid" android:value="@string/mengine_applovin_banner_adunitid" />
        <meta-data android:name="mengine.applovin.interstitial.adunitid" android:value="@string/mengine_applovin_interstitial_adunitid" />
        <meta-data android:name="mengine.applovin.rewarded.adunitid" android:value="@string/mengine_applovin_rewarded_adunitid" />
        <meta-data android:name="mengine.applovin.appopen.placement" android:value="@string/mengine_applovin_appopen_placement" />
        <meta-data android:name="mengine.applovin.appopen.adunitid" android:value="@string/mengine_applovin_appopen_adunitid" />
    </application>
</manifest>
