<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Mengine.Plugin.AppLovin">

    <application>
        <meta-data
            android:name="mengine.applovin.is_age_restricted_user"
            android:value="@bool/mengine_applovin_is_age_restricted_user" />

        <meta-data
            android:name="mengine.applovin.CCPA"
            android:value="@bool/mengine_applovin_CCPA" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ads_app_id"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="@string/google_ads_enable_manager_app"/>
    </application>
</manifest>
