<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MengeProjectBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MengeProjectBuilder.Properties.Settings>
            <setting name="DefaultSource" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DefaultMakeAtlases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMaxAtlasSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DefaultMaxImageSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="DefaultTrimAlpha" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMaxAlphaValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAlphaEdgeCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultConvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultJPEGQual" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DefaultMakePaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCompanyName" serializeAs="String">
                <value>Menge</value>
            </setting>
            <setting name="DefaultTrimAtlases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDestinationList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DefaultDestination" serializeAs="String">
                <value />
            </setting>
        </MengeProjectBuilder.Properties.Settings>
    </userSettings>
</configuration>